@font-face {
    font-family: "Barlow";
    src: url(Barlow-Black.ttf);
}
@font-face {
    font-family: "BarlowR";
    src: url(Barlow-Regular.ttf);
}
@font-face {
    font-family: "BarlowL";
    src: url(Barlow-LightItalic.ttf);
}
@font-face {
    font-family: "BarlowB";
    src: url(Barlow-SemiBold.ttf);
}
body {
    position: relative;
}
pl {
    font-family: BarlowL, sans-serif;
    color: black;
}

ph {
    font-family: BarlowB, sans-serif;
    color: black;
}

.ph { font-family: BarlowB, sans-serif;
    color: black;
 }

h1 {
  color: black;
  text-align: center;
  font-family: Barlow, sans-serif;
}

p {
    color: black;
    font-family: BarlowR, sans-serif;
}

td {
    color:black;
    font-family: BarlowR, sans-serif;
}
th {
    color:black;
    font-family: BarlowR, sans-serif;
}
h2 {
    color:black;
    font-family: Barlow, sans-serif;
}

h3 {
    color:black;
    font-family: Barlow, sans-serif;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: rgb(182, 181, 181);
	font-size: 1.5rem;
	background: font-size-adjust;
    font-family: Barlow, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation a {
    padding: 15px;
}



.top {
    padding-top: 40px;
    padding-bottom: 30px;
}

li{
    padding-right: 25px;
    padding-left: 25px;
    font-family: BarlowR, sans-serif;
    color:black;
}
.bottom{
    padding-left: 100px
}
.right{
    float: right;
    padding-right: 100px;
}

.padding {
    padding-bottom: 15px;
}
.video {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 65%;
    height: 65%;
}
.space{
    padding-top: 20px;
}



.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }



#education {padding-top:30px; padding-bottom:30px;color: #fff; background-color: rgba(224, 224, 82, 0.137); flex: 1 1 auto;}
#work {padding-top:30px; padding-bottom:30px;color: #fff; background-color: rgba(117, 187, 148, 0.267); flex: 1 1 auto; }
#projects {padding-top:30px; padding-bottom:30px; color: #fff; background-color: #e4b67242; flex: 1 1 auto; }
#service {padding-top:30px;padding-bottom:30px; color: #fff; background-color: rgba(243, 188, 197, 0.185); flex: 1 1 auto;}
#interets {padding-top:30px; padding-bottom:30px; color: #fff; background-color: rgba(171, 117, 221, 0.226); flex: 1 1 auto;}
#family {padding-top:30px; padding-bottom:30px; color: #fff; background-color: rgba(238, 238, 209, 0.329); flex: 1 1 auto;}
#contact {padding-top:30px; padding-bottom:30px; color: #fff; background-color: rgba(186, 230, 150, 0.274);flex: 1 1 auto;}